*{
    padding: 0%;
    margin: 0%;
    /* background-image: url(img/img5.jpg);
    background-size: cover; */

}
body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: 1 */

}
header
{
    
    width: 100%;
    height: 100px;
    /* background-image: url(img/img5.jpg);
    background-size: cover;
     */
}
.header_menu{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border:1px solid red; */
}
.logo{
    color: white;
    width: 20%;
    text-align: center;
}
.logo img{
    height: 30px;
    border-radius: 50%;

}
.menu{
    width: 80%;
    text-align: right;
    padding-right:50px ;

}
.menu li{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style: none;
    padding-left: 50px ;

}
.menu li a{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
.menu li a:hover{
    color: orange;
}
main .header{
    text-transform: uppercase;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgba(255, 255, 255, 0.8);
    transform: translate(-50%,-50%);
    text-align: center;
    
}
main .header h3{
    margin-bottom: 50px;
    font-size: 17px;
    font-weight: 500px;
    letter-spacing: 0.3em;
}
main .header h1{
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 600px;
    letter-spacing: 0.3em;

}main .header button{
    height: auto;
    padding: 8px 3px;
    color: wheat;
    font-size: 12px;
    background-color:transparent;
    margin-right:20px ;


}
main .header button {
    
    box-sizing: border-box;
    width: 80px;
    height: 30px;
    background-color: rgb(238, 232, 232, 0.0);
}
main .header button a{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(245, 247, 245);
}
main .header button:hover{
    color: steelblue;
    background-color: rgb(144, 150, 71)
}






